<ng-container *ngIf="loading; else content">
  <app-loading></app-loading>
</ng-container>
<ng-template #content>

<ng-container *ngIf="examenes.length == 0">
  <app-empty-content mensaje="No tienes examenes creados"></app-empty-content>
</ng-container>

<div class="row">
  <div class="col-md-3 mb-3" *ngFor="let examen of examenes">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{examen.materia.nombre}} <p>{{examen.materia.descripcion}}</p></h5>
        <p class="card-text">{{examen.descripcion}}.</p>
        <a 
          class="btn btn-primary"
          [routerLink]="['/main/examen',examen._id]"
        >Ver mas</a>
      </div>
    </div>
  </div>
</div>


<hr>
<h3 class="text-center">Crear nuevo Examen</h3>

<form
  class="login-form"
  autocomplete="off"
  [formGroup]="examenForm"
  (submit)="guardar()"
>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Titulo del examen</label>
        <input type="text" class="form-control" formControlName="titulo">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Materias</label>
        <select 
          class="form-control"
          formControlName="materia"
        >
          <option value="">--Seleccione la materia--</option>
          <option *ngFor="let materia of materias" [value]="materia._id">{{materia.nombre}} - {{materia.descripcion}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Enlace del examen</label>
        <input type="text" class="form-control" formControlName="descripcion">
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" type="submit">Crear Examen</button>
  </div>
</form>

</ng-template>
