<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Examen 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver mas</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Examen 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver mas</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Examen 3</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver mas</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Examen 4</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver mas</a>
      </div>
    </div>
  </div>
</div>


<hr>
<h3 class="text-center">Crear nuevo Examen</h3>

<form action="">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="" class="form-control">Enlace del examen</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="" class="form-control">Seleccione la materia</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Matematicas</option>
          <option>Literatura</option>
          <option>Ingles</option>
          <option>Ciencias</option>
          <option>Deportes</option>
        </select>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" type="submit">Crear Examen</button>
  </div>
</form>