video{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.error{
  padding-top: 5px;
  padding-bottom: 2px;
  margin: 10px;
  background-color: rgba(255, 0, 0, 0.637);
  color: white;
}

.error p{
  margin-top: 5px;
}