<ng-container *ngIf="loading; else content">
  <app-loading></app-loading>  
</ng-container>
<ng-template #content>
  
<app-back-button
  url="/main/examenes">
</app-back-button>

<h2 class="text-center">Examen</h2>

<div class="form">
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Materia</label>
        <input class="form-control" type="text" value="{{examen.materia.nombre}} - {{examen.materia.descripcion}}">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Enlace</label>
        <input class="form-control" type="text" [value]="examen.descripcion">
      </div>
    </div>
  </div>
  
  <hr>
  
  <div class="col">
    <button class="btn btn-primary" (click)="verEstudiantesExamen()">Ver estudiantes en el examen</button>
    <button class="btn btn-primary" (click)="verEstudiantesNoExamen()">Ver estudiantes que faltaron</button>
  </div>
  
  <div class="text-center p-3">
    <h4>{{filterStatus}}</h4>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of estudiantes">
        <th scope="row">
          <img [src]="estudiante.foto1" alt="">
        </th>
        <td>{{estudiante.nombre}}</td>
        <td>{{estudiante.email}}</td>
      </tr>
    </tbody>
  </table>  

</div>
</ng-template>
