
<ng-container *ngIf="loading; else content">
  <app-loading></app-loading>
</ng-container>

<ng-template #content>

<app-back-button
  url="/main/materias"
></app-back-button>

<h3 class="text-center">{{materia.nombre}}</h3>

<div class="form">

  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Materia</label>
        <input class="form-control" type="text" [value]="materia.nombre">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="">Descripcion</label>
        <input class="form-control" type="text" [value]="materia.descripcion">
      </div>
    </div>
  </div>
  
  <hr>
  
    <h4 class="text-center">Agregar estudiantes</h4>

    <form
      class="mt-5 mb-5"
      autocomplete="off"
      [formGroup]="formEstudiante"
      (submit)="agregar()"
    >
      <div class="row">
        <div class="col-md-10">
          <select 
            class="form-control" 
            formControlName="estudiante"
          >
            <option value="">Seleccione un estudiante</option>
            <option *ngFor="let estudiante of listaEstudiantes" [value]="estudiante._id">{{estudiante.nombre}}</option>
          </select>
        </div>
        <div class="col">
          <button class="btn btn-success">Agregar</button>
        </div>
      </div>
    </form>

  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Imagen</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col" class="acciones">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estudiante of estudiantes">
          <th scope="row">
            <img src="{{estudiante.foto1}}" alt="{{estudiante.nombre}}">
          </th>
          <td>{{estudiante.nombre}}</td>
          <td>{{estudiante.email}}</td>
          <td>
            <button class="btn btn-danger" (click)="delete(estudiante._id)">X</button>
          </td>
        </tr>
      </tbody>
    </table>  
</div>
</ng-template>

