<ng-container *ngIf="loading; else content">
  <app-loading></app-loading>
</ng-container>
<ng-template #content>

  <ng-container *ngIf="materias.length == 0">
    <app-empty-content mensaje="No tienes materias inscritas"></app-empty-content>
  </ng-container>

  <div class="text-center">
    <h2>Materias Inscritas</h2>
  </div>

  <div class="collection-box">
    <div class="row">
      <div class="col-md-3" *ngFor="let materia of materias">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{materia.nombre}} <p>{{materia.profesor}}</p></h5>
            <p class="card-text">{{materia.descripcion}}</p>
            <a
              class="btn btn-primary"
              [routerLink]="['/main-estudiante/materias',materia._id]"
            >Ver mas</a>
          </div>
        </div>
      </div>
  </div>
  </div>

</ng-template>

